/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root{
    --black:#131313;
}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Manrope', sans-serif;
}
header{
    width: 1300px;
    margin: 0 auto;
    background-color: #131313;
    }
    .container{
        max-width: 1300px;
        width: 80%;
        margin: 0 auto;
    }
    .navbar{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .fa-bars{
        display: none;
    }
    .links{
        width: 1000px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 35px 0px;
    }
    .links a{
        margin-right: 35px;
        color: #FFFFFF;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }
    .links a:hover{
        color: #D87D4A;
    }
    .navbar i{
        color: white;
        cursor: pointer;
        font-size: 25px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }
    .navbar i:hover{
        color: #D87D4A;
    }
    .back{
        font-weight: 500;
        font-size: 15px;
        height: 25px;
        color: #7D7D7D;
        margin-bottom: 38px;
    }
    .back:hover{
        color: black;
    }
    main{
        width: 1300px;
        margin: 0 auto;
        padding-top: 80px;
        background-color: #F2F2F2;
        padding-bottom: 141px;
    }
    .check{
        width: 1000px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-top: 38px;

    }
    .check .left{
        width: 100%;
        height: 1126px;
        background-color: #FFFFFF;
        padding-top: 54px;
        padding-left: 48px;
        padding-right: 48px;
    }
    .check .left h1{
        margin-bottom: 41px;
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: 1.14px;
    }
    .check .left p{
        font-weight: 700;
        font-size: 13px;
        line-height: 25px;
        letter-spacing: 0.93px;
        color: #D87D4A;
        text-transform: uppercase;
        margin-bottom: 16px;
    }
    .form-left .top .boxx{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 24px;
    }
    .form-left .top .boxx .box{
        margin-right: 16px;
    }
    .form-left .top .boxx .box .text{
        margin-bottom: 9px;
        font-weight: 700;
        font-size: 12px;
        line-height: 16.39px;
        letter-spacing: -0.21px;
        color: black;
    }
    .input-text{
        width: 400px;
        height: 56px;
        border-radius: 8px;
        padding-left: 24px;
        border-color: #CFCFCF;
        border-top-color: #CFCFCF;
    }
    .input-text:hover{
        border-color: #D87D4A;
    }
    .input-email{
        width: 400px;
        height: 56px;
        border-radius: 8px;
        padding-left: 24px;
        border-color: #CFCFCF;
        border-top-color: #CFCFCF;
    }
    .input-email:hover{
        border-color: #D87D4A;
    }
    .label-email{
        margin-bottom: 9px;
        font-weight: 700;
        font-size: 12px;
        line-height: 16.39px;
        letter-spacing: -0.21px;
        color: black;
    }
    .label-num{
        margin-bottom: 9px;
        font-weight: 700;
        font-size: 12px;
        line-height: 16.39px;
        letter-spacing: -0.21px;
        color: black;
    }
    .input-num{
        width: 309px;
        height: 56px;
        border-radius: 8px;
        padding-left: 24px;
        border-color: #CFCFCF;
        border-top-color: #CFCFCF;
        margin-bottom: 53px;
    }
    .form-left .center p{
        font-weight: 700;
        font-size: 13px;
        line-height: 25px;
        letter-spacing: 0.93px;
        color: #D87D4A;
        text-transform: uppercase;
        margin-bottom: 16px;
    }
    .form-left .center .label-adres{
        margin-bottom: 9px;
        font-weight: 700;
        font-size: 12px;
        line-height: 16.39px;
        letter-spacing: -0.21px;
        color: black;
    }
    .input-adres{
        width: 309px;
        height: 56px;
        border-radius: 8px;
        padding-left: 24px;
        border-color: #CFCFCF;
        border-top-color: #CFCFCF;
        margin-bottom: 24px;
    }
    .form-left .center .boxx{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 24px;
    }
    .label-code{
    margin-bottom: 9px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16.39px;
    letter-spacing: -0.21px;
    color: black;
    }
    .input-code{
        width: 309px;
        height: 56px;
        border-radius: 8px;
        padding-left: 24px;
        border-color: #CFCFCF;
        border-top-color: #CFCFCF;
        margin-right: 16px;
    }
    .label-loc{
        margin-bottom: 9px;
        font-weight: 700;
        font-size: 12px;
        line-height: 16.39px;
        letter-spacing: -0.21px;
        color: black;
    }
    .input-loc{
        width: 309px;
        height: 56px;
        border-radius: 8px;
        padding-left: 24px;
        border-color: #CFCFCF;
        border-top-color: #CFCFCF;
    }
    .label-country{
        margin-bottom: 9px;
        font-weight: 700;
        font-size: 12px;
        line-height: 16.39px;
        letter-spacing: -0.21px;
        color: black;
    }
    .input-country{
        width: 309px;
        height: 56px;
        border-radius: 8px;
        padding-left: 24px;
        border-color: #CFCFCF;
        border-top-color: #CFCFCF;
        margin-bottom: 61px;
    }
    .form-left h2{
        font-weight: 700;
        font-size: 13px;
        line-height: 25px;
        letter-spacing: 0.93px;
        color: #D87D4A;
        text-transform: uppercase;
        margin-bottom: 16px;
    }
    .form-left .bottom .leftt p{
        margin-bottom: 9px;
        font-weight: 700;
        font-size: 12px;
        line-height: 16.39px;
        letter-spacing: -0.21px;
        color: black;
    }
    .form-left .bottom .rightt{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom: 30px;
    }
    .form-left .bottom{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .label-money{
        width: 309px;
        height: 56px;
        border: 1px solid #CFCFCF;
        border-radius: 8px;
        padding-left: 24px;
        border-color: #CFCFCF;
        border-top-color: #CFCFCF;
        margin-bottom: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .input-money{
        margin-right: 16px;
    }
    .label-cash{
        width: 309px;
        height: 56px;
        border: 1px solid #CFCFCF;
        border-radius: 8px;
        padding-left: 24px;
        border-color: #CFCFCF;
        border-top-color: #CFCFCF;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .info{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .info .rightt p{
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        color: #7D7D7D;
        margin-left: 32px;
    }
    .input-cash{
        margin-right: 16px;
    }
    .check .right{
        width: 25%;
        height: 612px;
        background-color: #FFFFFF;
        padding: 32px 33px;
    }
    #sum{
        font-weight: 700;
        font-size: 18px;
        line-height: 24.59px;
        letter-spacing: 1.29px;
        text-transform: uppercase;
        margin-bottom: 31px;
    }
    .check .right .top{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 24px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .check .right .top .img{
        width: 64px;
        height: 64px;
        border-radius: 8px;
        background-color: #F1F1F1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .check .right .center{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 24px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

    }
    .check .right .center .img{
        width: 64px;
        height: 64px;
        border-radius: 8px;
        background-color: #F1F1F1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .check .right .bot{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 24px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .check .right .bot .img{
        width: 64px;
        height: 64px;
        border-radius: 8px;
        background-color: #F1F1F1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .check .right .text1{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 8px;
    }
    .check .right .text1 p{
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        color: #7D7D7D;
    }
    .check .right .text1 span{
        font-weight: 700;
        font-size: 18px;
        line-height: 24.59px;
        color: black;
    }
    .check .right .text2 span{
        font-weight: 700;
        font-size: 18px;
        line-height: 24.59px;
        color: black;
    }
    .check .right .text3 span{
        font-weight: 700;
        font-size: 18px;
        line-height: 24.59px;
        color: black;
    }
    .check .right .text4 span{
        font-weight: 700;
        font-size: 18px;
        line-height: 24.59px;
        color: #D87D4A;
    }
    .check .right .text2{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 8px;
    }
    .check .right .text2 p{
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        color: #7D7D7D;
    }
    .check .right .text3{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 24px;
    }
    .check .right .text3 p{
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        color: #7D7D7D;
    }
    .check .right .text4{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 32px;
    }
    .check .right .text4 p{
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        color: #7D7D7D;
    }
    .check .right button{
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 144px;
        height: 48px;
        background-color: #FBAF85;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 13px;
        line-height: 17.76px;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-color: inherit;
    }
    .marka{
        margin-left: -25%;
        text-align: start;
    }
    .marka h2{
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
    }
    .marka p{
        font-weight: 700;
        font-size: 14px;
        line-height: 25px;
        color: #7D7D7D;
    }
    footer{
        width: 100%;
        margin-left: -110px;
    }
    .foot{
        width: 1300px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: var(--black);
        height: 370px;
        margin-top: 170px;
        color: #fff;
    }
    .foot-bar{
        width: 1100px;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-top: 30px;
        margin-bottom: 36px;
    }
    .footer{
        width: 1100px;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: var(--grey);
    }
    .footer p{
        width: 540px;
        font-size: 15px;
        font-weight: 500;
        line-height: 25px;
    }
    .icons{
        width: 130px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .icons a{
        color: var(--white);
        font-size: 32px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }
    .icons a:hover{
        color: var(--yellow);
    }
    .end{
        width: 1100px;
        margin: 0 auto;
        color: var(--grey);
        margin-top: 56px;
        font-weight: 700;
        font-weight: 15px;
    }
    .desktop{
        display: none;
    }
    @media (max-width: 1300px) {
        .check .right .top{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
        .check .right .top .img{
            width: 100%;
            margin: auto;
        }
        .check .right .top .marka{
            width: 100%;
            margin: auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            margin: auto;
            text-align: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
        .check .right .top .marka h2{
            margin: 0 auto;
        }
        .check .right .center{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
        .check .right .center .img{
            width: 100%;
            margin: auto;
        }
        .check .right .center .marka{
            width: 100%;
            margin: auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            margin: auto;
            text-align: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
        .check .right .center .marka h2{
            margin: 0 auto;
        }
        .check .right .bot{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
        .check .right .bot .img{
            width: 100%;
            margin: auto;
        }
        .check .right .bot .marka{
            width: 100%;
            margin: auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            margin: auto;
            text-align: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
        .check .right .bot .marka h2{
            margin: 0 auto;
        }

        .check .right .text{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin: auto;
        }
        .check .right{
            height: 850px;
        }


}
    @media (max-width:1058px) {
        .input-text{
            width: 220px;
        }
        .input-email{
            width: 220px;
        }
        .input-num{
            width: 220px;
        }
        .input-adres{
            width: 220px;
        }
        .input-code{
            width: 220px;
        }
        .input-loc{
            width: 220px;
        }
        .input-country{
            width: 220px;
        }
        .label-money{
            width: 220px;
        }
        .label-cash{
            width: 220px;
        }
        .check .right{
            height: 950px;
        }
        .check .right .text4{
            margin-bottom: 50px;
            margin-top: 30px;
        }
    }
    @media (max-width:958px) {
        .check .right{
            height: 1000px;
        }
        .check .left{
            height: 1200px;
        }
        .input-text{
            width: 170px;
        }
        .input-email{
            width: 170px;
        }
        .input-num{
            width: 170px;
        }
        .input-adres{
            width: 170px;
        }
        .input-code{
            width: 170px;
        }
        .input-loc{
            width: 170px;
        }
        .input-country{
            width: 170px;
        }
        .label-money{
            width: 170px;
        }
        .label-cash{
            width: 170px;
        }
    }
    @media (max-width:896px) {


        .check{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
        .check .left{
            width: 100%;
            margin-bottom: 20px;
        }
        #chek-right{
            width: 100%;
        }
        #chek-right .top{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            width: 100%;
        }

        .check .right .top .img{
            width: 20%;
        }
        #chek-top{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;

        }
        .check .right .center{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
        }
        .check .right .center .img{
            width: 20%;
            margin-right: 0px;
        }
        .check .right .bot{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
        }
        .check .right .bot .img{
            width: 20%;
            margin-right: 0px;
        }
        .check .right .text1{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;

        }
        .check .right .text2{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;

        }
        .check .right .text3{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;

        }
        .check .right .text4{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;

        }
        .check .right{
            height: 600px;
        }
        .input-text{
            width: 310px;
        }
        .input-email{
            width: 310px;
        }
        .input-num{
            width: 630px;
        }
        .input-adres{
            width: 630px;
        }
        .input-code{
            width: 310px;
        }
        .input-loc{
            width: 310px;
        }
        .input-country{
            width: 630px;
        }
        .label-money{
            width: 310px;
        }
        .label-cash{
            width: 310px;
        }
        .info{
            display: none;
        }
        .check .left{
            height: 1000px;
        }

    }
    @media (max-width:886px) {
        .input-text{
            width: 280px;
        }
        .input-email{
            width: 280px;
        }
        .input-num{
            width: 550px;
        }
        .input-adres{
            width: 550px;
        }
        .input-code{
            width: 280px;
        }
        .input-loc{
            width: 280px;
        }
        .input-country{
            width: 550px;
        }
        .label-money{
            width: 280px;
        }
        .label-cash{
            width: 280px;
        }

    }


@media (max-width:816px) {
        .input-text{
            width: 230px;
        }
        .input-email{
            width: 230px;
        }
        .input-num{
            width: 500px;
        }
        .input-adres{
            width: 500px;
        }
        .input-code{
            width: 230px;
        }
        .input-loc{
            width: 230px;
        }
        .input-country{
            width: 500px;
        }
        .label-money{
            width: 230px;
        }
        .label-cash{
            width: 230px;
        }

    }
    @media (max-width:769px) {
        .check .left{
            height: 1300px;
        }
    }
    @media (max-width:698px) {

        .input-text{
            width: 180px;
        }
        .input-email{
            width: 180px;
        }
        .input-num{
            width: 450px;
        }
        .input-adres{
            width: 450px;
        }
        .input-code{
            width: 180px;
        }
        .input-loc{
            width: 180px;
        }
        .input-country{
            width: 450px;
        }
        .label-money{
            width: 180px;
        }
        .label-cash{
            width: 180px;
        }
    }
    @media (max-width:618px) {

        .input-text{
            width: 120px;
        }
        .input-email{
            width: 120px;
        }
        .input-num{
            width: 300px;
        }
        .input-adres{
            width: 300px;
        }
        .input-code{
            width: 120px;
        }
        .input-loc{
            width: 120px;
        }
        .input-country{
            width: 300px;
        }
        .label-money{
            width: 220px;
        }
        .label-cash{
            width: 220px;
        }
        .check .bottom{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
    }
    @media (max-width:453px) {
        .boxx{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
        .text{
            margin: auto;
            text-align: center;
        }
        .check .left{
            height: 1700px;
        }
        .boxx .box{
            margin: auto;
            text-align: center;
            width: 100%;
        }
        .input-text{
            width: 300px;
        }
        .input-email{
            width: 300px;
        }
        .input-code{
            width: 300px;
        }
        .input-loc{
            width: 300px;
        }
    }
    .label-money{
        width: 300px;
    }
    .label-cash{
        width: 300px;
    }
    @media (max-width:423px) {
        .input-text{
            width: 250px;
        }
        .input-email{
            width: 250px;
        }
        .input-num{
            width: 250px;
        }
        .input-adres{
            width: 250px;
        }
        .input-code{
            width: 250px;
        }
        .input-loc{
            width: 250px;
        }
        .input-country{
            width: 250px;
        }
        .label-money{
            width: 250px;
        }
        .label-cash{
            width: 250px;
        }

    }
    @media (max-width:367px) {
        .input-text{
            width: 200px;
        }
        .input-email{
            width: 200px;
        }
        .input-num{
            width: 200px;
        }
        .input-adres{
            width: 200px;
        }
        .input-code{
            width: 200px;
        }
        .input-loc{
            width: 200px;
        }
        .input-country{
            width: 200px;
        }
        .label-money{
            width: 200px;
        }
        .label-cash{
            width: 200px;
        }

    }