@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope';
}
:root{
    --white:#fff;
    --black:#0E0E0E;
    --yellow:#D87D4A;
    --grey:#F1F1F1;
    --light-yellow:#FBAF85;
}
.container{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.hero{
    width: 1519px;
    margin: 0 auto;
    background: var(--black);
}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background: #131313;
}
.navbar{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
    width: 143px;
    height: 25px;
}
.back{
    width: 200px;
    height: 50px;
    font-size: 15px;
    font-weight: 700;
    margin-top: 120px;
    color: var(--black);
    z-index: 100;
    background-color: #fff;
    border: none;
}
.back:hover{
    transition: 0.5s;
    text-decoration: underline;
}
.links{
    width: 450px;
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
}
.link{
    color: var(--white);
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    transition: 0.5s;
}
.link:hover{
    color: bisque;
    text-decoration: underline bisque;
}
nav i{
    color: var(--white);
}
.sub{
    width: 1519.5px;
    margin-left: -110px;
    text-align: center;
    padding: 90px 0;
    font-size: 40px;
    font-weight: 700;
    color: var(--white);
    letter-spacing: 2px;
    background-color: #131313;
    margin-top: 70px;
}
.main{
    width: 1100px;
    margin: 0 auto;
    margin-top: 20px;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 657px;
    margin-bottom: 120px;
}
.content{
    width: 400px;
}
.content span{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 10px;
    color: var(--yellow);
}
.content h1{
    margin: 24px 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.content h3{
    margin-bottom: 50px;
}
.content p{
    width: 430px;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 40px;
}
.content a{
    font-size: 13px;
    font-weight: 700;
    padding: 15px 31px;
    background-color: var(--yellow);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: 0.5s;
    text-decoration: none;
}
.content a:hover{
    background-color: var(--light-yellow);
    color: var(--white);
}
.text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}
.text h2{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 32px;
    letter-spacing: 2px;
}
.words{
    width: 635px;
}
.words p{
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}
.info{
    width: 350px;
}
.info p{
    padding-bottom: 10px;
}
.stg{
    color: var(--yellow);
    font-size: 16px;
    font-weight: 700;
    padding-right: 24px;
}
.image{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.image img{
    border-radius: 8px;
}
.img2{
    margin-top: 25px;
}
.center{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 65px;
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h5{
    font-size: 24px;
    font-weight: 700;
    margin: 40px 0;
}
.card img{
    border-radius: 8px;
}
.card a{
    font-size: 13px;
    font-weight: 700;
    padding: 15px 31px;
    background-color: var(--yellow);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: 0.5s;
    text-decoration: none;
}
.card a:hover{
    background-color: var(--light-yellow);
    color: var(--white);
}
.service{
    width: 1100px;
    margin: 0 auto;
}
.images{
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.images img{
    z-index: 10;
}
.service-link{
    width: 1100px;
    margin: 0 auto;
}
.ram{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.ramka{
    margin-top: -85px;
    width: 345px;
    height: 210px;
    background-color: var(--grey);
    border-radius: 8px;
    text-align: center;
    padding-top: 120px;
}
.ramka h4{
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.5px;
}
.ramka a{
    color: #787878;
    text-decoration: none;
    transition: 0.5s;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
    padding-right: 5px;
}
.ramka i{
    color: var(--yellow);
}
.dj{
    width: 1100px;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about{
    width: 450px;
}
.about h1{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 48px;
    margin-bottom: 40px;
}
.st{
    color: var(--yellow);
}
.about p{
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}
.dj img{
    border-radius: 8px;
}
footer{
    width: 100%;
    margin-left: -210px;
}
.foot{
    width: 100%;
    margin: 0;
    left: 0;
    position: absolute;
    background-color: var(--black);
    height: 370px;
    margin-top: 170px;
}
.foot-bar{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 36px;
}
.footer{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--grey);
}
.footer p{
    width: 540px;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}
.icons{
    width: 130px;
    display: flex;
    justify-content: space-between;
}
.icons a{
    color: var(--white);
    font-size: 32px;
    transition: 0.5s;
}
.icons a:hover{
    color: var(--yellow);
}
.end{
    width: 1100px;
    margin: 0 auto;
    color: var(--grey);
    margin-top: 56px;
    font-weight: 700;
    font-weight: 15px;
}