@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope';
}
:root{
    --white:#fff;
    --black:#0E0E0E;
    --yellow:#D87D4A;
    --grey:#F1F1F1;
}
.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}
.hero{
    width: 1519px;
    margin: 0 auto;
    background: var(--black);
}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background: #131313;
}
.navbar{
    width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
    width: 143px;
    height: 25px;
}
.links{
    width: 450px;
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
}
.link{
    color: var(--white);
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    transition: 0.5s;
}
.link:hover{
    color: bisque;
    text-decoration: underline bisque;
}
nav i{
    color: var(--white);
}
main{
    width: 1519px;
    margin: 0 auto;
    background: url(img/Bitmap.png);
    background-repeat: no-repeat;
    background-size: 1550px 657px;
    background-position: bottom;
}
.main{
    width: 1300px;
    margin: 0 auto;
    margin-top: 88px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 657px;
    margin-bottom: 120px;
}
.content{
    width: 400px;
}
.content span{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 10px;
}
.content h1{
    margin: 24px 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.content p{
    width: 370px;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 40px;
}
.content a{
    font-size: 13px;
    font-weight: 700;
    padding: 15px 31px;
    background-color: var(--yellow);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: 0.5s;
    text-decoration: none;
}
.content a:hover{
    background-color: var(--white);
    color: var(--black);
}
.service{
    width: 1300px;
    margin: 0 auto;
}
.images{
    width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.images img{
    z-index: 10;
}
.service-link{
    width: 1300px;
    margin: 0 auto;
}
.ram{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.ramka{
    margin-top: -85px;
    width: 375px;
    height: 210px;
    background-color: var(--grey);
    border-radius: 8px;
    text-align: center;
    padding-top: 120px;
}
.ramka h4{
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.5px;
}
.ramka a{
    color: #787878;
    text-decoration: none;
    transition: 0.5s;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
    padding-right: 5px;
}
.ramka i{
    color: var(--yellow);
}
.banner{
    width: 1300px;
    height: 560px;
    margin: 0 auto;
    margin-top: 168px;
    color: var(--white);
    background-color: var(--yellow);
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
    border-radius: 8px;
}
.banner img{
    margin-bottom: -66px;
}
.banner a{
    background: var(--black);
    border: none;   
}
.speaker{
    width: 1300px;
    height: 320px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 8px;
    background: url(img/main-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;

}
.speaker-link{
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}
.speaker h1{
    margin-bottom: 32px;
    font-size: 28px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.speaker-link a{
    font-size: 13px;
    font-weight: 700;
    width: 160px;
    height: 50px;
    background-color:transparent;
    color: var(--black);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid #131313;
}
.speaker-link a:hover{
    background-color: var(--black);
    color: var(--white);
}
.ear{
    width: 1300px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.ear img{
    width: 540px;
    height: 320px;
    border-radius: 8px;
}
.ear-link{
    width: 540px;
    height: 320px;
    background-color: var(--grey);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 120px;
}
.ear h1{
    margin-bottom: 32px;
    font-size: 28px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.ear-link a{
    font-size: 13px;
    font-weight: 700;
    width: 160px;
    height: 50px;
    background-color:transparent;
    color: var(--black);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid #131313;
}
.ear-link a:hover{
    background-color: var(--black);
    color: var(--white);
}
.dj{
    width: 1300px;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about{
    width: 450px;
}
.about h1{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 48px;
    margin-bottom: 40px;
}
strong{
    color: var(--yellow);
}
.about p{
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}
.dj img{
    border-radius: 8px;
}
.foot{
    width: 100%;
    margin: 0 auto;
    background-color: var(--black);
    height: 370px;
    margin-top: 170px;
}
.foot-bar{
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 36px;
}
.footer{
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--grey);
}
.footer p{
    width: 540px;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}
.icons{
    width: 130px;
    display: flex;
    justify-content: space-between;
}
.icons a{
    color: var(--white);
    font-size: 32px;
    transition: 0.5s;
}
.icons a:hover{
    color: var(--yellow);
}
.end{
    width: 1300px;
    margin: 0 auto;
    color: var(--grey);
    margin-top: 56px;
    font-weight: 700;
    font-weight: 15px;
}



@media (max-width:375px) {
    .container{
        max-width: 375px;
        width: 100%;
        margin: 0 auto;
    }
    .hero{
        max-width: 375px;
        width: 100%;
        margin: 0 auto;
        background: var(--black);
    }
    nav{
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 100;
        background: #131313;
    }
    .navbar{
        max-width: 375px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav img{
        width: 143px;
        height: 25px;
    }
    .links{
        width: 450px;
        display: flex;
        justify-content: space-between;
        padding: 35px 0;
    }
    .link{
        color: var(--white);
        text-decoration: none;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 2px;
        transition: 0.5s;
    }
    .link:hover{
        color: bisque;
        text-decoration: underline bisque;
    }
    nav i{
        color: var(--white);
    }
    main{
        margin: 0 auto;
        background: url(img/bg-mobile.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .main{
        width: 355px;
        margin: 0 auto;
        margin-top: 88px;
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 657px;
        margin-bottom: 120px;
    }
    .content{
        width: 370px;
    }
    .content span{
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 10px;
    }
    .content h1{
        margin: 24px 0;
        font-size: 56px;
        font-weight: 700;
        line-height: 59px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    .content p{
        width: 370px;
        font-size: 15px;
        font-weight: 500;
        line-height: 25px;
        margin-bottom: 40px;
    }
    .content a{
        font-size: 13px;
        font-weight: 700;
        padding: 15px 31px;
        background-color: var(--yellow);
        color: var(--white);
        text-transform: uppercase;
        letter-spacing: 1.5px;
        transition: 0.5s;
        text-decoration: none;
    }
    .content a:hover{
        background-color: var(--white);
        color: var(--black);
    }
    .service{
        width: 355px;
        margin: 0 auto;
    }
    .images{
        width: 320px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .images img{
        z-index: 10;
    }
    .service-link{
        width: 355px;
        margin: 0 auto;
    }
    .ram{
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .ramka{
        margin-top: -85px;
        width: 375px;
        height: 210px;
        background-color: var(--grey);
        border-radius: 8px;
        text-align: center;
        padding-top: 120px;
    }
    .ramka h4{
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 1.5px;
    }
    .ramka a{
        color: #787878;
        text-decoration: none;
        transition: 0.5s;
        font-weight: 700;
        font-size: 17px;
        text-transform: uppercase;
        padding-right: 5px;
    }
    .ramka i{
        color: var(--yellow);
    }
    .banner{
        width: 355px;
        height: 560px;
        margin: 0 auto;
        margin-top: 168px;
        color: var(--white);
        background-color: var(--yellow);
        display: flex;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        border-radius: 8px;
    }
    .banner img{
        margin-bottom: -66px;
    }
    .banner a{
        background: var(--black);
        border: none;   
    }
    .speaker{
        width: 355px;
        height: 320px;
        margin: 0 auto;
        margin-top: 50px;
        border-radius: 8px;
        background: url(img/main-bg.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
    
    }
    .speaker-link{
        height: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 100px;
    }
    .speaker h1{
        margin-bottom: 32px;
        font-size: 28px;
        font-weight: 700;
        line-height: 59px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    .speaker-link a{
        font-size: 13px;
        font-weight: 700;
        width: 160px;
        height: 50px;
        background-color:transparent;
        color: var(--black);
        text-transform: uppercase;
        letter-spacing: 1.5px;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 1px solid #131313;
    }
    .speaker-link a:hover{
        background-color: var(--black);
        color: var(--white);
    }
    .ear{
        width: 355px;
        margin: 0 auto;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
    }
    .ear img{
        width: 240px;
        height: 320px;
        border-radius: 8px;
    }
    .ear-link{
        width: 240px;
        height: 320px;
        background-color: var(--grey);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 120px;
    }
    .ear h1{
        margin-bottom: 32px;
        font-size: 28px;
        font-weight: 700;
        line-height: 59px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    .ear-link a{
        font-size: 13px;
        font-weight: 700;
        width: 160px;
        height: 50px;
        background-color:transparent;
        color: var(--black);
        text-transform: uppercase;
        letter-spacing: 1.5px;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 1px solid #131313;
    }
    .ear-link a:hover{
        background-color: var(--black);
        color: var(--white);
    }
    .dj{
        width: 355px;
        margin: 0 auto;
        margin-top: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .about{
        width: 250px;
    }
    .about h1{
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 48px;
        margin-bottom: 40px;
    }
    strong{
        color: var(--yellow);
    }
    .about p{
        font-size: 15px;
        font-weight: 500;
        line-height: 25px;
    }
    .dj img{
        border-radius: 8px;
    }
    .foot{
        width: 100%;
        margin: 0 auto;
        background-color: var(--black);
        height: 370px;
        margin-top: 170px;
    }
    .foot-bar{
        width: 355px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        margin-bottom: 36px;
    }
    .footer{
        width: 355px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--grey);
    }
    .footer p{
        width: 240px;
        font-size: 15px;
        font-weight: 500;
        line-height: 25px;
    }
    .icons{
        width: 130px;
        display: flex;
        justify-content: space-between;
    }
    .icons a{
        color: var(--white);
        font-size: 32px;
        transition: 0.5s;
    }
    .icons a:hover{
        color: var(--yellow);
    }
    .end{
        width: 355px;
        margin: 0 auto;
        color: var(--grey);
        margin-top: 56px;
        font-weight: 700;
        font-weight: 15px;
    }
}